*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse
IHGWSDKTest/.gitignore
community-automation/.gitignore
ehcore-api-automation/.gitignore
integration-platform-acceptance/.gitignore
integration-support-team-automation/.gitignore
mobile-automation/.gitignore
mu2-api-automation/.gitignore
patient-portal-automation/.gitignore
phr-portal-automation/.gitignore
practice-portal-automation/.gitignore
qa-automation-utils/.gitignore
service-mediator-automation/.gitignore
sitegen-automation/.gitignore
