<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.intuit.ifs.csscat.core.TestValidationErrorListener" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener
			class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
	</listeners>
	<test thread-count="5" name="Test">
		<groups>
			<run>
				<include name="MerchantProvisioningBEAcceptanceTests" />
			</run>
		</groups>
		<classes>
			<class
				name="com.medfusion.mfpay.merchant_provisioning.tests.PartnersAsFinance" />
			<class
				name="com.medfusion.mfpay.merchant_provisioning.tests.ProvisioningRoles" />
			<class
				name="com.medfusion.mfpay.merchant_provisioning.tests.WPTestsAsImplementation" />
			<class
				name="com.medfusion.mfpay.merchant_provisioning.tests.MerchantResourceAsFinanceTest" />
			<class
				name="com.medfusion.mfpay.merchant_provisioning.tests.UserResourceAsImplementation" />
			<class
					name="com.medfusion.mfpay.merchant_provisioning.tests.InstaMedWorkflowsAsImplementationTests" />
			<class
					name="com.medfusion.mfpay.merchant_provisioning.tests.UserResourceAsImplementation" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
